## Merging the Census Data Set with the Elected Officials Data Set

This notebook merges the Census data set with the Elected Officials Data Set

In [1]:
# Import Statements

import pandas as pd

In [2]:
# Import the two data sets
df_pop = pd.read_csv("census_data_cleaned.csv")
df_elof = pd.read_csv("elof_data_cleaned.csv")

# Columns which are the same between the two dataframes
common_columns = ["state", "sex", "race"]

# Perform merge
df = df_pop.merge(df_elof,  on = common_columns, how = "outer")

# Multiply percentage columns' values by 100
df["percentstate_pop"] = df["percentstate_pop"].multiply(100)
df["percentstate_elof"] = df["percentstate_elof"].multiply(100)

df

,Unnamed: 0_x,state,region,division,sex,race,pop_count,percentstate_pop,Unnamed: 0_y,elof_count,percentstate_elof
0,0,AK,West,Pacific,Female,American Indian or Alaska Native,75564,6.850001,NaN,NaN,NaN
1,920,AK,West,Pacific,Total,Total,1103124,100.000000,NaN,NaN,NaN
2,919,AK,West,Pacific,Male,Total,578074,52.403356,NaN,NaN,NaN
3,17,AK,West,Pacific,Total,White,731440,66.306236,NaN,NaN,NaN
4,16,AK,West,Pacific,Total,Multiracial,57411,5.204401,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1066,902,WY,West,Mountain,Female,Black or African American,4092,0.459749,NaN,NaN,NaN
1067,901,WY,West,Mountain,Female,Asian American or Pacific Islander,6391,0.718050,NaN,NaN,NaN
1068,900,WY,West,Mountain,Female,American Indian or Alaska Native,9387,1.054660,NaN,NaN,NaN
1069,907,WY,West,Mountain,Male,Asian American or Pacific Islander,4855,0.545475,NaN,NaN,NaN
1070,1070,WY,West,Mountain,Total,Total,890050,100.000000,NaN,NaN,NaN

In [3]:
# This section cleans the merged dataframe

bad_columns = ["Unnamed: 0_x", "Unnamed: 0_y"]

# Drops column with old indices now not being used
df = df.drop(columns = bad_columns)

# Replaces all NaN values with 0
df = df.fillna(0)

# Outputs new file to csv
df.to_csv("merged_data.csv")

df

,state,region,division,sex,race,pop_count,percentstate_pop,elof_count,percentstate_elof
0,AK,West,Pacific,Female,American Indian or Alaska Native,75564,6.850001,0.0,0.0
1,AK,West,Pacific,Total,Total,1103124,100.000000,0.0,0.0
2,AK,West,Pacific,Male,Total,578074,52.403356,0.0,0.0
3,AK,West,Pacific,Total,White,731440,66.306236,0.0,0.0
4,AK,West,Pacific,Total,Multiracial,57411,5.204401,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1066,WY,West,Mountain,Female,Black or African American,4092,0.459749,0.0,0.0
1067,WY,West,Mountain,Female,Asian American or Pacific Islander,6391,0.718050,0.0,0.0
1068,WY,West,Mountain,Female,American Indian or Alaska Native,9387,1.054660,0.0,0.0
1069,WY,West,Mountain,Male,Asian American or Pacific Islander,4855,0.545475,0.0,0.0
1070,WY,West,Mountain,Total,Total,890050,100.000000,0.0,0.0